openapi: 3.2.0
info:
  title: Textmagic REST Schedules API
  description: The Textmagic REST API (v2) provides programmatic access to the Textmagic business text-messaging platform. Send and receive SMS, manage contacts and lists, schedule and template messages, run two-way chats, and administer sender IDs and dedicated numbers. All requests are authenticated with the X-TM-Username and X-TM-Key headers.
  termsOfService: https://www.textmagic.com/terms-of-service/
  contact:
    name: Textmagic Support
    email: support@textmagic.com
    url: https://docs.textmagic.com/
  version: '2.0'
servers:
- url: https://rest.textmagic.com/api/v2
security:
- TmUsername: []
  TmKey: []
tags:
- name: Schedules
  description: Manage scheduled (future-dated) messages.
paths:
  /schedules:
    get:
      operationId: getSchedules
      tags:
      - Schedules
      summary: Get all scheduled messages
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of scheduled messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleList'
  /schedules/{id}:
    get:
      operationId: getSchedule
      tags:
      - Schedules
      summary: Get a single scheduled message
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single scheduled message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSchedule
      tags:
      - Schedules
      summary: Delete a single scheduled message
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: The scheduled message was deleted.
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
        errors:
          type: object
    Schedule:
      type: object
      properties:
        id:
          type: integer
        nextSend:
          type: string
          format: date-time
        rrule:
          type: string
          description: Recurrence rule for repeating schedules.
        session:
          $ref: '#/components/schemas/BulkSession'
    ScheduleList:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        pageCount:
          type: integer
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
    BulkSession:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
        itemsProcessed:
          type: integer
        numbersCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        text:
          type: string
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
      description: Number of items per page.
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: The resource identifier.
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination.
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    TmUsername:
      type: apiKey
      in: header
      name: X-TM-Username
      description: Your Textmagic account username.
    TmKey:
      type: apiKey
      in: header
      name: X-TM-Key
      description: Your Textmagic API key, generated in the account settings.
