openapi: 3.0.1
info:
  title: Textmagic REST Bulk Replies API
  description: The Textmagic REST API (v2) provides programmatic access to the Textmagic business text-messaging platform. Send and receive SMS, manage contacts and lists, schedule and template messages, run two-way chats, and administer sender IDs and dedicated numbers. All requests are authenticated with the X-TM-Username and X-TM-Key headers.
  termsOfService: https://www.textmagic.com/terms-of-service/
  contact:
    name: Textmagic Support
    email: support@textmagic.com
    url: https://docs.textmagic.com/
  version: '2.0'
servers:
- url: https://rest.textmagic.com/api/v2
security:
- TmUsername: []
  TmKey: []
tags:
- name: Replies
  description: Retrieve and manage inbound messages.
paths:
  /replies:
    get:
      operationId: getReplies
      tags:
      - Replies
      summary: Get all inbound messages
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of inbound messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyList'
  /replies/{id}:
    get:
      operationId: getReply
      tags:
      - Replies
      summary: Get a single inbound message
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single inbound message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reply'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteReply
      tags:
      - Replies
      summary: Delete a single inbound message
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: The inbound message was deleted.
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
      description: Number of items per page.
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination.
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: The resource identifier.
  schemas:
    Reply:
      type: object
      properties:
        id:
          type: integer
        sender:
          type: string
        messageTime:
          type: string
          format: date-time
        text:
          type: string
        receiver:
          type: string
    ReplyList:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        pageCount:
          type: integer
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Reply'
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
        errors:
          type: object
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    TmUsername:
      type: apiKey
      in: header
      name: X-TM-Username
      description: Your Textmagic account username.
    TmKey:
      type: apiKey
      in: header
      name: X-TM-Key
      description: Your Textmagic API key, generated in the account settings.
